node_modules

data\settings.json

StoredData

Fonts
data/settings.json
data/serverVars.json
data/servers.json
data/players.json
dashboard-config.json

project.discordbot
dashboard-config.json
dashboard-config.json
